.Logo{
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
}

.header_inner{
    margin-left: auto;
    margin-right: 10px;
}

.button{
    margin-left: auto;
    margin-right: 10px;
}


.search
{
    margin-left: 300px;
    width:  500px;
    font-size:16px;
}



